.slider_container {
    margin: 1rem auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: clamp(16px, 3vw, 27px);
    outline: none;
    cursor: pointer;

    border-radius: 2.5rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: clamp(18px, 3.5vw, 32px);
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    background-color: var(--thumb-color);

    background-size: clamp(10px, 2vw, 16px);
    background-position: center center;
    background-repeat: no-repeat;
}

.mySlider1::-webkit-slider-thumb {
    background-image: url('../../res/image/sum.svg');
}

.mySlider2::-webkit-slider-thumb {
    background-image: url('../../res/image/calendar.svg');
}

.slider_sum_button {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;

    width: clamp(1rem, 1.25vw, 1.5rem);
    height: clamp(1rem, 1.25vw, 1.5rem);
    border-radius: 50%;
    border: 2px var(--slider-button-color) solid;
    color: var(--slider-button-color);
    user-select: none;
    font-size: max(0.6rem, 1vw);
}

/*.slider_sum_button-minus {*/
/*    background: url("../../res/image/blue_minus.svg") no-repeat center center;*/
/*    background-size: contain;*/
/*    width: 1.0625rem;*/
/*    height: 1.0625rem;*/
/*}*/

/*.slider_sum_button-plus {*/
/*    background: url("../../res/image/blue_minus.svg") no-repeat center center;*/
/*    background-size: contain;*/
/*    width: 1.0625rem;*/
/*    height: 1.0625rem;*/
/*}*/

.slider_sum_button:hover {
    cursor: pointer;
}

.slider_sum_text {
    margin: 0 1rem;
    width: clamp(80px, 15vw, 300px);
    display: flex;
    justify-content: center;
    font-size: clamp(0.85rem, 2vw, 1rem);
    font-weight: 500;
}

.slider_prefix {
    min-width: clamp(65px, 5vw, 150px);
    font-size: max(0.6rem, 1vw);
    font-weight: 500;
    color: #A4ABBB;
}

.slider_end {
    justify-self: flex-end;
}

.slider_start {
    justify-self: flex-start;
}

.sum {
    justify-self: center;
}

