main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_top {
    text-align: center;
    margin-bottom: clamp(30px, 3vw, 50px);
}

.circle_main {
    display: grid;
}

.circle_block {
    align-items: center;
    justify-content: center;
    margin: 1vw 0;

    color: #A4ABBB;
}

.circle_block_text {
    align-items: center;
    justify-content: center;
    margin: 1vw 0;

    color: #A4ABBB;
}

.step {
    align-text: center;
    width: 70%;
    margin: 0 auto;
    display: none;
}

.step > a {
    text-decoration: none;
    text-decoration-color: transparent;
}

.step.active {
    display: block;
}

.step_block {
    background-color: #FDFFFF;
    padding: 3%;
    border-radius: 8px;
    width: clamp(300px, 55%, 15000px);
}

.step_phone_number {
    margin: 1vw 0;
}

.step-input {
    margin: max(3rem, 3.87vw) 0;
}

.step_phone_number > input {
    width: 100%;
    background: transparent;
    border-bottom: 1px #A4ABBB solid;
    padding-bottom: 0.5vw;
}

.step_phone_number > input::-webkit-input-placeholder {
    color: #A4ABBB;
    font-size: clamp(9px, 0.75vw, 14px);
}

.circle_step {
    width: max(2.00181rem, 2.875vw);
    aspect-ratio: 1 / 1;
    background-color: #B8E0F7;
    border-radius: 50%;
    margin: 0.5rem clamp(10px, 1vw, 20px);
}

.circle_step_block.active > .circle_step {
    width: max(3.35081rem + 0.39rem, 4.8125vw + 0.56vw);
    aspect-ratio: 1 / 1;

    border: max(0.39rem - 0.13rem, 0.56vw - 0.19vw) solid transparent;
    box-shadow: 0 0 0 max(0.13rem, 0.19vw) #FF7F11;
    background: #FDFFFF url("../../res/image/reg.svg") no-repeat center center;
    background-size: max(1.3055rem, 1.875vw) max(1.82775rem, 2.625vw);
    background-clip: content-box;
}

.circle_step_block.active > .circle_step_text {
    color: transparent;
}

.input_label {
    margin-top: 1.5rem;
}

.horizontal_line {
    transform: translateY(-0.35rem);
}